page-participants {

    .groupLetter {
        font-size: 1.4rem;
    }

    .add {
        color: #32db64;
    }

    .remove {
        color: #f53d3d;
    }

    .number {
        font-size: 1.3rem;
        color: #666666;
        display: block;
        padding-top: 2px;
    }

  .sp-label {
    font-size: 1.5rem;
  }

    .name {
        color: #666666;
        font-size: 1.6rem;
    }

    .participant {
        font-size: 1.4rem;
    }

    .divider {
        font-size: 1.4rem;

        .label-ios {
              margin: 0;
        }
    }

    .sp-header {
        background: #dedede;
    }

    .disabled {
        color: #cccccc;
        opacity: 1;
    }

    .title-span {
        font-weight: normal;
        font-size: 0.8em;
    }

    .positive {
        font-weight: bold;
    }

    button {

        &[disabled] {
            color: #666666;
        }
    }
}
