<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button (click)="onDismiss()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>
      Participants
    </ion-title>
    <ion-buttons end *ngIf="participantList.length">
      <button ion-button (click)="onSaveParticipants()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="false"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content #Content>

  <ion-list-header>
    Participant list
  </ion-list-header>
  <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
    <ion-item *ngFor="let participant of participantList; let i = index">
      <ion-icon name="remove-circle" (click)="onRemoveParticipant(i)" class="remove" item-start></ion-icon>
      <p class="name participant">{{participant.name}}</p>
      <p class="number">{{participant.number}}</p>
    </ion-item>
  </ion-list>

  <ion-list-header>
    Contact list
  </ion-list-header>
  <ion-list>
    <ion-item-group *ngFor="let group of groupedContactsList">
      <ion-item-divider class="divider">{{group.letter}}</ion-item-divider>
      <ion-item *ngFor="let contact of group.contacts">
        <ion-icon name="add-circle" (click)="onAddParticipant(contact)" class="add" item-start></ion-icon>
        <p class="name">{{contact.name}}</p>
        <span class="number" item-end>{{contact.number}}</span>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
