page-participants {


  .groupLetter {
      font-size: 1.4rem;
  }

  .add {
      color: #32db64;
  }

  .remove {
      color: #f53d3d;
  }

  .number {
      font-size: 1.4rem;
      color: #666666;
  }

  .name {
      color: #000000;
      font-size: 1.6rem;
  }

}
