<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button [disabled]="!participantsChanged()" (click)="onDismiss()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>
      Participants <span *ngIf="participants.length" class="title-span">({{ participants.length }})</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="onSaveParticipants()" [disabled]="participantsChanged()" [ngClass]="{ disabled: participantsChanged(), positive: true }">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="false"
    (ionInput)="onInput()">
  </ion-searchbar>
</ion-header>

<ion-content>

  <!--<ion-list-header class="sp-header">-->
    <!--Participant list-->
  <!--</ion-list-header>-->

  <div class="horizontal-list">
      <div class="participants">
          <div class="participant" *ngFor="let participant of participants; let index = index">
              <div class="avatar">
                  {{ participant.name.charAt(0).toUpperCase() }}
                  <span class="remove" (click)="onClickRemoveParticipant(participant, index)">
                      <ion-icon name="close-circle"></ion-icon>
                  </span>
              </div>
              <span class="name">{{ participant.name }}</span>
          </div>
      </div>
  </div>

  <!--<ion-list reorder="true" (ionItemReorder)="reorderItems($event)">-->
    <!--<ion-item-sliding *ngFor="let participant of participants; let index = index">-->
      <!--<ion-item>-->
        <!--<p class="name participant">{{participant.name}}</p>-->
        <!--&lt;!&ndash;<p class="number">{{participant.number}}</p>&ndash;&gt;-->
      <!--</ion-item>-->

      <!--<ion-item-options side="left">-->
        <!--<button ion-button color="danger" (click)="onSwipeRemoveParticipant(participant, index)">-->
          <!--<ion-icon name="trash"></ion-icon>-->
        <!--</button>-->
      <!--</ion-item-options>-->

    <!--</ion-item-sliding>-->
  <!--</ion-list>-->



  <ion-list-header class="sp-header">
    Contact list
  </ion-list-header>
  <ion-list>
    <ion-item-group *ngFor="let group of contactsGrouped">
      <ion-item-divider class="divider">{{group.letter}}</ion-item-divider>
      <ion-item *ngFor="let contact of group.contacts" [ngClass]="{'isParticipant': isParticipant(contact)}" (click)="onClickContact(contact)">
        <ion-icon name="{{ isParticipant(contact) ? 'radio-button-on' : 'radio-button-off' }}" color="primary" item-start></ion-icon>
        <p class="name">{{contact.name}}</p>
        <span class="number" item-end>{{contact.number}}</span>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
