page-home {


  .hidden-input {
    background: #cccccc;
    position: relative;
    height: 0;
    transition: height 0.33s;

    .input-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      > * {
        margin-bottom: 0;
      }
    }

    &.add-mode {
      height: 45px;
    }


  }

  .btn-close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 15px;
    display: block;
    color: #488aff;
  }

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .card-content {
  }

  //.pot-name {
  //  font-size: 2.0rem;
  //  font-weight: lighter;
  //}

  .meta {
    border-top: 1px solid #f6f6f6;
    padding-top: 5px;
    margin-top: 5px;

    span {
      display: inline-block;
      padding-right: 10px;
    }

  }

}
