
<ion-header>
  <ion-navbar>
    <ion-title>Saving Pots</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addButtonClicked()">
        {{ allowedAction() }}
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <div class="hidden-input" [ngClass]="{'add-mode': isInAddMode()}">
    <div class="input-container">
      <ion-list>
        <ion-item>
          <ion-input type="text"
             [(ngModel)]="newPlanName"
             #input placeholder="New saving pot name"></ion-input>
        </ion-item>
      </ion-list>
      <ion-icon name="close-circle" class="btn-close" (click)="resignFocus()"></ion-icon>
    </div>
  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let plan of plans" [ngClass]="{'active': plan['status'] === 'in-progress'}">

      <button ion-item (click)="viewPlan(plan)">
        <ion-icon name="{{ getPlanIcon(plan) }}" color="{{ getIconColour(plan) }}" item-start></ion-icon>
        <h2 class="pot-name">{{plan.name}} <span *ngIf="plan['status'] === 'in-progress'"> - {{ getPotValue(plan) }}</span></h2>
        <p class="meta">
          <span class="participants">
            <ion-icon name="contacts"></ion-icon>
            {{ plan['participants'].length }}
          </span>
          <span class="savings">
            <ion-icon name="cash"></ion-icon>
            {{ getSavingsAmount(plan) }}
          </span>
          <span class="rounds" *ngIf="plan['status'] === 'in-progress'">
            <ion-icon name="md-timer"></ion-icon>
            Round ({{plan.round}}/{{plan['participants'].length}})
          </span>
        </p>
      </button>

      <ion-item-options side="left">
        <button ion-button [color]="canBeDeleted(plan) ? 'danger' : 'primary'" (click)="deleteOrArchive(plan)">
          <ion-icon [name]="canBeDeleted(plan) ? 'trash' : 'archive'"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item *ngIf="plans.length < 1 && plansHasLoaded">
      <h2>No pots</h2>
      <p>Add pots with the add button</p>
    </ion-item>

  </ion-list>

  <!--<ion-card *ngFor="let plan of plans">-->
    <!--<ion-card-header>-->
      <!--{{plan.name}}-->
    <!--</ion-card-header>-->
    <!--<ion-card-content>-->
      <!--<ion-grid>-->
        <!--<ion-row>-->
          <!--<ion-col col-4>-->
            <!--<ion-icon name="people" icon-only></ion-icon>-->
            <!--<ion-badge color="primary">-->
              <!--{{plan['participants'].length}}-->
            <!--</ion-badge>-->
          <!--</ion-col>-->
        <!--</ion-row>-->
      <!--</ion-grid>-->
    <!--</ion-card-content>-->
  <!--</ion-card>-->


</ion-content>
