
<ion-header>
  <ion-navbar>
    <ion-title>Saving Pots</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addButtonClicked()">
        {{ allowedAction() }}
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <div class="hidden-input" [ngClass]="{'add-mode': isInAddMode()}">
    <div class="input-container">
      <ion-list>
        <ion-item>
          <ion-input type="text"
             [(ngModel)]="newPlanName"
             #input placeholder="New saving pot name"></ion-input>
        </ion-item>
      </ion-list>
      <ion-icon name="close-circle" class="btn-close" (click)="resignFocus()"></ion-icon>
    </div>
  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let plan of plans">

      <button ion-item (click)="viewPlan(plan)">
        <ion-icon name="{{ getPlanIcon(plan) }}" color="{{ getIconColour(plan) }}" item-start></ion-icon>
        <h2>{{plan.name}}</h2>
        <p>Created: {{created}}</p>
      </button>

      <ion-item-options side="left">
        <button ion-button [color]="canBeDeleted(plan) ? 'danger' : 'secondary'" (click)="deleteOrArchive(plan)" icon-only>
          <ion-icon [name]="canBeDeleted(plan) ? 'trash' : 'archive'"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item *ngIf="plans.length < 1 && plansHasLoaded">
      <h2>No plans</h2>
      <p>Add plans with the add button</p>
    </ion-item>

  </ion-list>

</ion-content>
