
<ion-header>
  <ion-navbar>

    <ion-title>Plans</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addPlan()" icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <button ion-item (click)="viewPlan(plan.id)" *ngFor="let plan of plans">
      <ion-icon name="{{plan['icon']}}" item-start></ion-icon>
      <h2>{{plan.name}}</h2>
      <p>Created: {{created}}</p>
    </button>

    <ion-item *ngIf="plans.length < 1">
      <h2>No plans</h2>
      <p>Looks like you have no saving plans</p>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="addPlan()" icon-only>
      <ion-icon name="cloud-outline"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
