
<ion-header>
  <ion-navbar>
    <ion-title>Plans</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="hidden-input">
    <div class="input-container">
      <ion-list>
        <ion-item>
          <ion-label color="primary" stacked>Enter plan name</ion-label>
          <ion-input type="text" #input placeholder="Email Input"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let plan of plans">

      <button ion-item (click)="viewPlan(plan)">
        <ion-icon name="{{ getPlanIcon(plan) }}" color="{{ getIconColour(plan) }}" item-start></ion-icon>
        <h2>{{plan.name}}</h2>
        <p>Created: {{created}}</p>
      </button>

      <ion-item-options side="left">
        <button ion-button [color]="canBeDeleted(plan) ? 'danger' : 'secondary'" (click)="deleteOrArchive(plan)" icon-only>
          <ion-icon [name]="canBeDeleted(plan) ? 'trash' : 'archive'"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item *ngIf="plans.length < 1">
      <h2>No plans</h2>
      <p>Please use the add button below</p>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="addPlan()" icon-only>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
