<ion-header>

  <ion-navbar>
    <ion-title>Schedule</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list no-lines inset>
    <ion-item icon-left>
      <ion-icon name="contract" item-start></ion-icon>
      <h1>{{plan['name']}}</h1>
      <p>Schedule participants for this plan</p>
    </ion-item>
  </ion-list>

  <ion-list [reorder]="schedule.length > 0" (ionItemReorder)="itemReorded($event)">
    <ion-item *ngFor="let participant of schedule">
      {{participant.name}}
    </ion-item>

    <ion-item *ngIf="schedule.length < 1">
      <h2>No participants listed</h2>
      <p>Add participants to your plan</p>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="addParticipants()">
      <ion-icon name="people"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
