<ion-header>
  <ion-navbar>
    <ion-title>
      Pot Details
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <span class="my-label">Pot name</span>
        <span class="potName" (press)="openNameEdit()">{{ getPlanName() }}&nbsp;</span>
      </ion-col>
      <ion-col col-2>
        <span class="my-label">&nbsp;</span>
        <button ion-button full class="btn" (click)="setAmount()" *ngIf="canSetAmount()" icon-only>
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-10>
        <span class="my-label">Saving Amount</span>
        <!--<ion-input type="number" maxlength="4" pattern="\d{1,15}" max={{max}} min="1" [(ngModel)]="savingsAmount" class="input"></ion-input>-->
        <span class="savingAmount">
        £{{ getSavingsAmount() }}.00</span>
      </ion-col>
      <ion-col col-2>
        <button ion-button full class="btn" [disabled]="hasReachedMax() || isPlanInProgress()" (click)="amountPlus()" icon-only>
          <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button full class="btn" [disabled]="hasReachedMin() || isPlanInProgress()" (click)="amountMinus()" icon-only>
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button full (click)="viewParticipants()" [disabled]="!contactsList.length" *ngIf="!isPlanInProgress()">
          <ion-icon name="md-contacts"></ion-icon>&nbsp;Add/Remove participants
        </button>
        <button ion-button full disabled *ngIf="isPlanInProgress()">
          Pot started
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list-header class="sp-header">
    Schedule
    <span item-end *ngIf="isPlanInProgress()">Round 1 of {{schedule.length}}</span>
  </ion-list-header>


  <ion-list [reorder]="reorderStatus" (ionItemReorder)="reorderItems($event)">
    <ion-item-sliding *ngFor="let participant of schedule; let index = index">

      <ion-item *ngIf="!isPlanInProgress()">
        <ion-icon name="contact" color="primary" item-start icon-only></ion-icon>
        <h2 class="name participant">{{participant.name}}</h2>
        <p class="list-helper">Collects in round {{index + 1}}</p>
      </ion-item>

      <button ion-item (click)="manageFunds(participant)" *ngIf="isPlanInProgress()">
        <ion-icon *ngIf="awaitingCollection(participant)" name="basket" color="primary" item-start></ion-icon>
        <ion-icon *ngIf="awaitingPayment(participant)" name="cash" color="primary" item-start></ion-icon>
        <h2 class="name participant">{{participant.name}}</h2>
        <p *ngIf="awaitingCollection(participant)" class="list-helper">Collection due - {{ getCollection() }}</p>
        <p *ngIf="awaitingPayment(participant)" class="list-helper">Payment due</p>
      </button>

      <ion-item-options side="left" *ngIf="!isPlanInProgress()">
        <button ion-button color="danger" (click)="onSwipeRemoveParticipant(participant, index)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>


  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button full [disabled]="!canStartPlan() || isPlanInProgress()" (click)="startPlan()">
          <ion-icon name="md-power"></ion-icon>&nbsp;{{ getStartButtonLabel() }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
