page-plan-details {

  h1 {
    margin-bottom: 5px !important;
  }

  .btn {
    //font-weight: bold;
    font-size: 1.8rem;
    width: 100%;
  }

  .input {

    input {
      width: 100%;
      height: 40px;
      text-align: center;
      font-size: 3.2rem;
      margin-right: 0;
      color: #666666;
    }
  }
}
