<ion-header>
  <ion-navbar>

    <ion-title>
      Plan Details
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines inset>
    <ion-item icon-left>
      <ion-icon name="{{ getPlanIcon() }}" item-start></ion-icon>
      <h1>{{ plan['name'] }}</h1>
      <p>Plan created: {{ created }}</p>
    </ion-item>
  </ion-list>

  <ion-list>

    <button ion-item icon-left (click)="viewParticipants()" [disabled]="!canAddMembers()">
      <ion-icon name="people" item-start></ion-icon>
      <h2>Participants</h2>
      <h3 *ngIf="schedule.length > 1">This plan has {{schedule.length}} participants</h3>
      <h3 *ngIf="schedule.length > 0 && schedule.length < 2">1 participant added, add more</h3>
      <h3 *ngIf="schedule.length < 1">Add participants to this plan</h3>
    </button>

    <button ion-item icon-left (click)="viewAmountsCollection()" [disabled]="!canAddAmount()">
      <ion-icon name="cash" item-start></ion-icon>
      <h2>Amounts</h2>
      <h3>No amounts currently set</h3>
    </button>

  </ion-list>


  <ion-grid>
    <ion-row>
      <ion-col col-12>
          <button ion-button full [disabled]="!canStartPlan()" (click)="startPlan()" color="{{ getPlanStatusColor() }}">
              {{ plan['status'] === 'in-progress' ? 'Plan started' : 'Start plan' }}
            </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  

</ion-content>
