page-plan-details {

  h1 {
    margin-bottom: 5px !important;
  }

  .btn {
    width: 100%;
    margin: 0;
  }

  .input {

    input {
      width: 100%;
      height: 40px;
      font-size: 8.2rem;
      margin-right: 0;
      color: #666666;
    }
  }

  .savingAmount {
    font-size: 6.2rem;
    font-weight: lighter;
  }

  .potName {
    font-size: 4rem;
    font-weight: lighter;
  }

  .my-label {
    display: block;
    text-transform: uppercase;
    color: #666666;
    font-size: 0.9em;
  }

  .name {
    color: #666666;
  }
}
