<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button [disabled]="cancelButtonDisabled" ion-button (click)="onDismiss()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>{{ viewHeader }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-9>
        <span class="my-label">Participant</span>
        <span class="participantName">{{ getParticipantName() }}</span>
      </ion-col>
      <ion-col col-3>
        <div class="avatar" float-right>
          {{ participant.avatar }}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <span class="my-label">Round {{pot.round}} of {{ pot.participants.length }}</span>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-icon [name]="getFundsActionIcon()" color="primary" item-start></ion-icon>
        <h2>{{ getFundsAction() }}</h2>
        <p *ngIf="actionType === 'Collection'" class="list-helper">{{ getCollection() }}</p>
        <p *ngIf="actionType === 'Payment'" class="list-helper">{{ getSavingsAmount() }}</p>
    </ion-item>
    <ion-item>
      <ion-icon item-start></ion-icon>
      <ion-toggle [disabled]="toggleDisabled" (ionChange)="setToPaidCollected()" [(ngModel)]="fundStatus"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button [disabled]="doneButtonDisabled" ion-button full (click)="onDonePaidCollected()" class="sp-button">
          Done
        </button>
      </ion-col>
    </ion-row>
    <!--<ion-row>-->
      <!--<ion-col col-12>-->
        <!--<span class="cancel" (click)="onDismiss()">Cancel</span>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  </ion-grid>

</ion-content>


